/* Styles for the "container contact__container" classname. */
.container.contact__container {
    width: 50%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
/* Styles for the "contact__options" classname. */
.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
/* Styles for the "contact__option" classname. */
.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
/* Styles for the "contact__options" classname when your cursor is hovered over it */
.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}
/* Styles for the "contact__option-icon" classname. */
.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
/* Styles for the "contact__option" a tag */
.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    transform: scale(1);
}
/* Styles for the "contact__option" a tag when your cursor is hovered over it */
.contact__option a:hover {
    transform: scale(1.15);
}

/* ============== FORM ============== */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
/* Styles for the input and textarea tag */
input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}
/* Styles for the "button tag */
button {
    text-align: center;
    margin: auto;
    background-color: var(--color-primary);
}
/* Styles for the "btn__submit" classname */
.btn__submit {
    color: var(--color-bg);
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}
/* Styles for the "btn__submit" classname when your cursor is hovered over it */
.btn__submit:hover {
    color: var(--color-bg);
    background: #2196F3;
    box-shadow: 0 0 20px #2196F3;
    transition-delay: 0.1s;
    transform: scale(1.2);
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
}

