/* Styles for the footer tag. */
footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}
/* Styles for the footer's a tag. */
footer a {
    color: var(--color-bg);
}
/* Styles for the "footer__logo" classname. */
.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
/* Styles for the "footer__logo" classname when your cursor is hovered over it */
.footer__logo:hover {
    transform: scale(1);
}
/* Styles for the "permalinks" classname. */
.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
/* Styles for the "footer__socials" classname. */
.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
/* Styles for the "footer__socials" a tag. */
.footer_socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}
/* Styles for the "footer__socials" a tag when your cursor is hovered over it */
.footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}
/* Styles for the "footer__copyright" classname. */
.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}

/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}